{% extends "gama/base.html" %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-12 col-md-10 col-lg-8">
        <h2 class="mb-3 mt-3">{% trans "Results" %}</h2>
<!-- Bloc métadonnées -->

        <section class="text-info-block mt-3">
            <div class="inner-content">
                <h3 class="mb-1">{%trans "Metadata" %}</h3>
                    <div class="container-fluid my-0">
                        <div class="row mb-0 metad">
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Corpus name:" %}</strong>
                                <span>{{ corpus_name }}</span>
                            </div>
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Author:" %}</strong>
                                <span>{{ author }}</span>
                            </div>
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Date:" %}</strong>
                                <span>{{ date }}</span>
                            </div>
                        </div>
                        <div class="row mb-0 metad">
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Title:" %}</strong>
                                <span>{{ doc_name }}</span>
                            </div>
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Subtitle:" %}</strong>
                                <span>{{ doc_subtitle }}</span>
                            </div>
                        </div>
                    </div>
            </div>
        </section>

<!-- Bloc tableau résultats -->

        <div class="inner-content">
            <h3 class="mb-3 mt-4">{%trans "Scansion" %}</h3>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="togglePreprocessing" checked>
            <label class="form-check-label" for="togglePreprocessing">
                {%trans "Show Preprocessing" %}
            </label>
        </div>
        <div class="table-responsive">
            <table id="myTable" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-end">
                            #
                        </th>
                        <th scope="col" class="text-start">
                            {%trans "Original text" %}
                        </th>
                        <th scope="col" class="text-start col-preprocessing">
                            {%trans "Preprocessing" %}
                        </th>
                        <th scope="col" class="text-end">
                            {%trans "Metrical syllables" %}
                        </th>
                        <th scope="col" class="text-end" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="">
                            {%trans "Stressed syllables" %}
                        </th>
                        <th scope="col" class="text-end" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{%trans 'Extra rhythmic stresses removed' %}">
                            {%trans "No extra-rhythmic" %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                        {{ result|safe }}
                    </tbody>
            </table>
        </div>
        <!-- boutons retour/téléchargement !-->
        <section class="d-flex justify-content-between my-3 mt-5">
            <a href="{% url 'gama:index' %}" class="btn btn-beige">{% trans "New analysis" %}</a>
            <a href="{% url 'gama:export_results' %}" class="btn btn-beige">
                {% trans "Download results (ZIP)" %}
            </a>
        </section>
    </div>
</div>


<script>
$(document).ready(function () {
    window.lang = "{{ LANGUAGE_CODE }}";
    const langUrls = {
        'fr': 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
        'en': 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/en-GB.json',
        'gl': 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
    };

    const table = $('#myTable').DataTable({
        responsive: true,
        paging: true,
        pageLength: 100,
        searching: true,
        ordering: true,
        language: {
            url: langUrls[window.lang] || langUrls['en']
        }
    });

    document.getElementById("togglePreprocessing").addEventListener("change", function () {
        const show = this.checked;
        const column = table.column('.col-preprocessing');
        column.visible(show);
        table.columns.adjust().draw();
    });
});

</script>


{% endblock %}
