{% extends "gama/base.html" %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-12 col-md-10 col-lg-8">
        <h2 class="mb-3 mt-3">{% trans "Results" %}</h2>
<!-- Bloc métadonnées -->

        <section class="text-info-block mt-3">
            <div class="inner-content">
                <h3 class="mb-1">{%trans "Metadata" %}</h3>
                    <div class="container-fluid my-0">
                        <div class="row mb-0 metad">
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Corpus name:" %}</strong>
                                <span>{{ corpus_name }}</span>
                            </div>
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Author:" %}</strong>
                                <span>{{ author }}</span>
                            </div>
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Date:" %}</strong>
                                <span>{{ date }}</span>
                            </div>
                        </div>
                        <div class="row mb-0 metad">
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Title:" %}</strong>
                                <span>{{ doc_name }}</span>
                            </div>
                            <div class="col-md-4">
                                <strong class="me-2">{% trans "Subtitle:" %}</strong>
                                <span>{{ doc_subtitle }}</span>
                            </div>
                        </div>
                    </div>
            </div>
        </section>

<!-- Bloc tableau résultats -->

        <div class="inner-content">
            <h3 class="mb-3 mt-4">{%trans "Scansion" %}</h3>
        </div>
        <div class="desktop-table">
          <div id="divTogglePreprocessing" class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="togglePreprocessing" checked>
              <label class="form-check-label" for="togglePreprocessing">
                  {%trans "Show Preprocessing" %}
              </label>
          </div>
          <div class="table-responsive">
            <table id="myTable" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-end">
                            #
                        </th>
                        <th scope="col" class="text-start">
                            {%trans "Original text" %}
                        </th>
                        <th scope="col" class="text-start col-preprocessing">
                            {%trans "Preprocessing" %}
                        </th>
                        <th scope="col" class="text-end">
                            {%trans "Metrical syllables" %}
                        </th>
                        <th scope="col" class="text-end" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="">
                            {%trans "Stressed syllables" %}
                        </th>
                        <th scope="col" class="text-end" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{%trans 'Extra rhythmic stresses removed' %}">
                            {%trans "No extra-rhythmic" %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                        {{ result_desktop|safe }}
                    </tbody>
            </table>
        </div>
        </div>
        <div class="mobile-table">
          <div id="divTogglePreprocessingMobile" class="form-check mb-1">
              <input class="form-check-input" type="checkbox" id="togglePreprocessingMobile">
              <label class="form-check-label" for="togglePreprocessingMobile">
                  {%trans "Show Preprocessing" %}
              </label>
          </div>

          <div class="table-responsive">
            <table id="myTableMobile" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-end">
                            #
                        </th>
                        <th scope="col" class="text-start">
                            {%trans "Text" %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                        {{ result_mobile|safe }}
                </tbody>
            </table>
        </div>
        </div>

        <!-- boutons retour/téléchargement !-->
        <section class="d-flex justify-content-between my-3 mt-5">
            <a href="{% url 'gama:clear_session' %}" class="btn btn-beige">{% trans "New analysis" %}</a>
            <a href="{% url 'gama:export_results' %}" class="btn btn-beige">
                {% trans "Download results (ZIP)" %}
            </a>
        </section>
    </div>
</div>


<script>
$(document).ready(function () {
    window.lang = "{{ LANGUAGE_CODE }}";
    const langUrls = {
        'fr': '{% static "js/i18n/datatables/fr-FR.json" %}',
        'en': '{% static "js/i18n/datatables/en-GB.json" %}',
        'gl': '{% static "js/i18n/datatables/gl-ES.json" %}',
    };

    const table = $('#myTable').DataTable({
        responsive: true,
        paging: true,
        pageLength: 100,
        searching: true,
        ordering: true,
        language: {
            url: langUrls[window.lang] || langUrls['en']
        }
    });

    // DataTables does not handle row/colspan outside the header (https://datatables.net/manual/tech-notes/18)
    const tableMobile = $('#myTableMobile').DataTable({
        responsive: true,
        paging: true,
        pageLength: 100,
        searching: true,
        ordering: false,
        autoWidth: false,
        columnDefs: [
            {
                targets: 0, // First column
                width: '1%', // Forces it to shrink
            }
        ],
        language: {
            url: langUrls[window.lang] || langUrls['en']
        }
    });
    
    document.getElementById("togglePreprocessing").addEventListener("change", function () {
        const show = this.checked;
        const column = table.column('.col-preprocessing'); // sélectionne la colonne via sa classe
        column.visible(show);  // montre ou cache la colonne via DataTables
        table.columns.adjust().draw();  // ajuste la largeur et redessine le tableau
    });
    
    document.getElementById("togglePreprocessingMobile").addEventListener("change", function () {
        const show = this.checked;
        $('#myTableMobile td span.inline-prepro').css('display', show ? '' : 'none');

    });
});

</script>


{% endblock %}
