{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}gamaweb{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon2.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"/>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- <script src="{% static 'js/tablesort.js' %}"></script> !-->
</head>
<body>
    <!-- HEADER -->
    <header class="navbar-custom position-relative mb-0">
        <div class="container navbar-border d-flex justify-content-between align-items-center px-2 py-0 my-0 mb-0">
            <!-- Titre -->
            <h1 class="mb-3 site-title"><a class="site-title" href="{% url 'gama:clear_session' %}">{% trans "GAMA: Galician Metrical Analyzer" %}</a></h1>
            <!-- Container droite -->
            <div class="d-flex align-items-center gap-4">
                <!-- Liens dans navbar avant menu langues (hidden on small screens cos gonna go on sidebar) -->
                <a href="{% url 'gama:about' %}" class="navig-link d-none d-sm-inline">{% trans "About" %}</a>
                <!-- Séparateur -->
                <span class="vertical-separator d-none d-sm-inline"></span>
                <!-- Menu langues -->
                <div class="d-flex flex-column gap-1 mb-2" style="line-height: 1.2;">
                    <a href="#" class="lang-link {% if LANGUAGE_CODE == 'en' %}fw-bold{% endif %}" data-lang="en">en</a>
                    <a href="#" class="lang-link {% if LANGUAGE_CODE == 'fr' %}fw-bold{% endif %}" data-lang="fr">fr</a>
                    <a href="#" class="lang-link {% if LANGUAGE_CODE == 'gl' %}fw-bold{% endif %}" data-lang="gl">gl</a>

                    <!-- Formulaire pour soumettre langue via JS -->
                    <form id="lang-form" action="{% url 'set_language' %}" method="post" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="language" id="lang-input">
                        <input type="hidden" name="next" id="lang-next" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- <nav class="navigation-bar px-2">
        <div class="container-fluid d-flex justify-content-end gap-3">
            <a href="{% url 'gama:index' %}" class="lang-link">{% trans "Home" %}</a>
            <span class="nav-sep">•</span>
            <a href="#" class="lang-link">{% trans "About" %}</a>
        </div>
    </nav>-->

        <!-- TOGGLER pour sidebar (visible seulement en petit écran) -->
    <button id="sidebarToggle"
            class="sidebar-toggle custom-tog position-fixed top-50 start-0 translate-middle-y border-0 px-1 py-2 rounded-end shadow-sm d-md-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu">
        <i class="bi bi-chevron-right fs-4"></i>
    </button>

    <!-- SIDEBAR (offcanvas) -->
    <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">GAMA</h5>
            <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'gama:clear_session' %}" class="nav-link">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gama:about' %}" class="nav-link">{% trans "About" %}</a>
                </li>
            </ul>
        </div>
    </div>

<!-- body !-->
<main class="container my-0" style="padding-bottom: 70px;">
    {% block content %}{% endblock %}
</main>

<!-- FOOTER !-->
<footer class="footer fixed-bottom py-2 bg-dark border-top w-100">
    <div class="container-fluid d-flex justify-content-evenly align-items-center flex-wrap px-0 py-0 my-0 gap-3 small-text-mobile">
        <div class="footer-left text-white d-flex align-items-center flex-shrink-1">
            <span>© 2025 COMPEL</span>
        </div>
        <div class="d-flex align-items-center">
            <span class="text-white me-2"><a href="https://cordis.europa.eu/project/id/101149659" target="_blank" rel="noopener">Grant ID: 101149659 MSCA-PF</a></span>
                <a href="https://cordis.europa.eu/project/id/101149659" target="_blank" rel="noopener">
                <img id="funded-eu" src="{% static 'img/eu-white-text.png' %}" alt="EU Funded" style="height: 50px;"/>
                </a>
        </div>
    </div>
</footer>

<!-- JAVASCRIPT -->
<script>
    // ---------------------------
    // Changement de langue via le menu de langue
    // ---------------------------
    document.querySelectorAll('.lang-link').forEach(link => {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            const lang = this.dataset.lang; // Récupère la langue
            const form = document.getElementById('lang-form');
            document.getElementById('lang-input').value = lang;
            document.getElementById('lang-next').value = window.location.pathname;

            // Soumission du formulaire pour changer la langue
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: `language=${lang}&next=${encodeURIComponent(window.location.pathname)}`
            }).then(() => {
                // Redirection vers même page avec le nouveau préfixe de langue dans url
                // + Remplace la page courante dans l'historique au lieu d'en créer une nouvelle)
                    // (si l'utilisateur a changé plusierus fois de langue sur une page --> pas conservées dans historique
                    // empêche les retours vers une même page dans différentes langues)
                window.location.replace(`/${lang}${window.location.pathname.slice(3)}`);
            });
        });
    });

    // ---------------------------
    // Fonction permettant de récupérer un cookie
    // ---------------------------
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // ---------------------------
    // Gestion du retour arrière (back button)
    // ---------------------------
    // Si la langue du cookie est différente de l'URL --> redirige dans la bonne langue
        // (ex : si l'utilisateur change de langue depuis une page et fait un back sur la page précédente,
        // celle-ci s'affiche dans la nouvelle langue)
    window.addEventListener("pageshow", function (event) {
        if (event.persisted || performance.getEntriesByType("navigation")[0].type === "back_forward") {
            const urlLang = window.location.pathname.split("/")[1]; // 'fr', 'en', 'gl'
            const cookieLang = getCookie("django_language");

            if (cookieLang && urlLang !== cookieLang) {
                const newUrl = `/${cookieLang}${window.location.pathname.slice(3)}`;
                window.location.replace(newUrl);
            }
        }
    });
</script>

</body>

</html>
