{% extends "gama/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-12 col-md-10 col-lg-8">
<form action="{% url 'gama:analysis' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="language" value="{{ LANGUAGE_CODE }}">
    <!-- Bloc texte à analyser -->
        <h3 class="mb-3 mt-4">{%trans "Input text for analysis" %}</h3>
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            <textarea class="form-control" rows="10" name="text" id="text" placeholder="{%trans 'Enter your text here...' %}"></textarea>

    <!-- Bloc métadonnées -->
        <h3 class="mb-3 mt-4">{%trans "Metadata" %} <small class="text-muted">{%trans "(Default values will be used if empty)" %}</small></h3>
            <div class="form-group mb-3">
                <label for="corpus_name">{%trans "Corpus name" %}</label>
                <input class="form-control" type="text" name="corpus_name" id="corpus_name"/>
            </div>

            <div class="form-group mb-3">
                <label for="doc_name">{%trans "Text title" %}</label>
                <input class="form-control" type="text" name="doc_name" id="doc_name"/>
            </div>

            <div class="form-group mb-3">
                <label for="doc_subtitle">{%trans "Subtitle" %}</label>
                <input class="form-control" type="text" name="doc_subtitle" id="doc_subtitle"/>
            </div>

            <div class="form-group mb-3">
                <label for="author">{%trans "Author" %}</label>
                <input class="form-control" type="text" name="author" id="author"/>
            </div>

    <!-- Bouton envoi -->
        <section class="text-center">
            <button type="submit" class="btn btn-beige">{%trans "Submit" %}</button>
        </section>
</form>
    </div>
</div>

{% endblock %}