* {
    font-family: 'Segoe UI', sans-serif;
    }

:root {
    --color-green-dark: #178c19;
    --color-green: #88cfa1;
    --color-green-light: #edf8f2;
}

body {
    padding: 2rem;
    background-color: #fcfcfc;
    }

table th, table td {
  vertical-align: middle;
}

td:nth-child(5),
td:nth-child(6) {
    white-space: nowrap;
}

th:nth-child(2) {
    padding-left: 1em;
}

.table thead th {
    background-color: var(--color-green);
    border-bottom: 2px solid var(--color-green-dark);
    color: #2c2c2c;
}

.table tbody td {
    color: #2f2f2f;
}

.table {
    --bs-table-bg: var(--color-green-light);
    --bs-table-hover-bg: #c9e9d4;
}

th {
  white-space: nowrap;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

h3 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    color: #222;
    position: relative;
    padding-bottom: 0.3rem;
}

h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0rem;
    width: 3rem;
    height: 2.5px;
    background-color: var(--color-green);
    border-radius: 1px;
}

.container-fluid {
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

.text-info-block {
    background-color: var(--color-green-light);
    border-left: 5px solid var(--color-green);
    border-radius: 0.3rem;
    padding: 1rem 0;
}

.text-info-block ul li {
    margin-bottom: 0.5rem;
    color: #333;
    margin-left: 2rem;
}

.metad {
  margin-left: 2rem;
  color: #333; /* comme avant */
}

.inner-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-custom {
    background-color: #fcfcfc;
    border-bottom: 2px solid var(--color-green-dark);
}

.navbar-custom h1 {
    font-size: 1.8rem;
    color: var(--color-green-dark);
}

.navbar-toggler {
    border-color: var(--color-green-dark) !important;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(23,140,25,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    width: 1.2em;
    height: 1.2em;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-separator {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    color: #585964;
    pointer-events: none;
    font-size: 1rem;
}

@media (max-width: 767.98px) {
    .nav-separator {
        display: none;
    }
}

.btn-beige {
    background-color: var(--color-green);
    color: #2c2c2c;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(136, 207, 161, 0.4);
}

.form-check-label {
    font-style: italic;
    color: #3a3a3a;
    cursor: pointer;
}

th.sortable {
    cursor: pointer;
}

th:hover {
    text-decoration: underline;
}

.lang-link {
    color: rgba(23, 140, 25, 1);
    font-size: 0.8rem;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
    font-size: 1rem;
}

.lang-link:hover {
    color: rgba(23, 140, 25, 0.7);
    text-decoration: underline;
    cursor: pointer;
}

.dataTables_filter {
    margin-bottom: 0.5rem;
}

.custom-offcanvas {
    width: 240px !important;
    background-color: var(--color-green-dark);
}

.offcanvas-title {
    font-size: 1.8rem;
    color: white;
}

.nav-link {
    font-weight: bold;
    color: #585964;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #f8f9fa;
    font-size: 0.875rem;
    color: #6c757d;
    border-top: 1px solid #dee2e6;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: #178C19;
}

.no-wrap-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* optionnel si le contenu déborde */
}
